html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: var(--page-bg);
    color: var(--text-primary);
    transition: background-color 0.3s ease, color 0.3s ease;
}

:root {
    color-scheme: dark;
    --page-bg: #181818;
    --input-bg: #292929;
    --input-border: #3a3a3a;
    --text-primary: #F6E9E3;
    --text-secondary: #888888;
    --accent: #A969D7;
    --accent-hover: #843AC5;
    --button: #843AC5;
    --button-hover: #7225B7;
    --error-color: #BF0A00;
    --card-bg: rgba(84, 84, 84, 0.08);
    --card-border: rgba(84, 84, 84, 0.08);
    --nav-bar-bg: rgba(255, 255, 255, 0.06);
    --nav-bar-bg-hover: rgba(255, 255, 255, 0.08);
    --nav-bar-border: rgba(255, 255, 255, 0.1);
}

:root[data-theme='light'] {
    color-scheme: light;
    --page-bg: #F6E9E3;
    --input-bg: #EDDCD4;
    --input-border: #DBC7BD;
    --text-primary: #181818;
    --text-secondary: #888888;
    --accent: #A969D7;
    --accent-hover: #843AC5;
    --button: #843AC5;
    --button-hover: #7225B7;
    --error-color: #ef4444;
    --card-bg: rgba(234, 222, 212, 0.7);
    --card-border: rgba(84, 84, 84, 0.08);
    --nav-bar-bg: rgba(239, 217, 202, 0.367);
    --nav-bar-bg-hover: rgba(230, 215, 206, 0.6);
    --nav-bar-border: rgba(74, 74, 74, 0.1);
}